        h1 {
            text-align: center;
            color:black;
            background: rgb(39, 36, 37);
        }
        p {
            text-align: center;
            color: rgb(83, 83, 83);
        }
        img {
            display: block;
            margin: 0px auto;
        }
        ul {
            font-size: 20px;
        }
        .itens{
            font-weight: bold;
            color: black;
            text-align: center;
        }
        .espaço{
            font-weight: bold;
            color: black;
            text-align: center;
        }
        .localização{
            font-weight: bold;
            color:black ;
            text-align: center;
        }