        h1 {
            text-align: center;
            color: lightpink;
            background: hotpink;
        }
        p {
            text-align: center;
            color: deeppink;
        }
        img {
            display: block;
            margin: 0px auto;
        }
        ul {
            font-size: 20px;
        }
        .itens{
            font-weight: bold;
        }
        .espaço{
            color: hotpink;
        }
        .localização{
            text-align: center;
        }